.dropdown-menu {
    position: absolute;
    top: 100%; /* Расположение меню непосредственно под изображением */
    right: 0; /* Выравнивание меню по правому краю изображения */
    width: 150px; /* Ширина меню */
    background-color: #fff; /* Фоновый цвет меню */
    border: 1px solid #ccc; /* Граница вокруг меню */
    border-radius: 5px; /* Скругление углов */
    z-index: 1000; /* Установка z-index, чтобы меню отображалось поверх других элементов */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Тень для меню */
}

.dropdown-menu button {
    width: 100%; /* Ширина кнопки по ширине меню */
    padding: 10px; /* Отступы внутри кнопки */
    text-align: left; /* Выравнивание текста кнопки по левому краю */
    border: none; /* Удаление стандартной границы кнопки */
    background-color: transparent; /* Удаление фонового цвета кнопки */
    cursor: pointer; /* Установка указателя мыши в виде руки при наведении на кнопку */
}

.dropdown-menu button:hover {
    background-color: #f5f5f5; /* Фоновый цвет кнопки при наведении */
}
